# Normalizar saltos de línea automáticos
* text=auto eol=lf

# Archivos de código y marcado
*.html text
*.css text
*.js text
*.json text
*.md text

# Archivos binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary